.Imagem{
    width: 80px!important;
    height: 80px!important;
}
.div-todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    margin-top: 25px;
    position: inherit;
}
.titulo{
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 7px;
    text-align: center;
}

@media  screen and (min-width: 1024px ) {
    .gridimg{
        background-color: rgb(5, 97, 151)
    }
    .Imagem{
        border-top: 10px groove rgb(17, 17, 17);
        border-left: 10px dotted rgb(21, 187, 35);
        border-right: 10px solid rgb(81, 6, 230);
        border-bottom: 10px dashed rgb(224, 18, 18);
        width: 180px !important;
        height: 140px !important;
    }
    .titulo{
        font-size: 30px;
    }
}